option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    DATABASE_URL: "file:./database.sqlite"
    LUCRA_API_URL: "{{resolve:secretsmanager:dev/rng/lucra-api:SecretString:LUCRA_API_URL}}"
    LUCRA_API_KEY: "{{resolve:secretsmanager:dev/rng/lucra-api:SecretString:LUCRA_API_KEY}}"
